#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20   

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#include <input/processors.dtsi>
#include "includes/local.h"
#include "includes/eyelash_layout.h"
#include "includes/std.h"

#define MAIN 0
#define NUMB 1
#define SYMB 2
#define NAV 3
#define ACCENT 4
#define FN 5
#define COLEMAK 6

&mmv_input_listener {
    input-processors = <&zip_xy_scaler 2 1>;
};

&msc_input_listener {
    input-processors = <&zip_xy_scaler 2 1>;
};

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        #include "includes/behaviors.h"
        #include "includes/fr.h"
    };

    combos {
        #include "includes/combos.h"
    };
    
    macros {
        #include "includes/macros.h"
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            bindings = <
//    ╭──────────────────┬────────────┬────────────┬─────────────────┬────────────┬──────────────╮                            ╭───────────────╮           ╭──────────────┬────────────┬────────────┬──────────────┬────────────┬────────────────────╮
//    │   slt NUMB tab   │ mol SYMB Q │     W      │        E        │     R      │      T       │                            │  msc SCRL_up  │           │      Y       │     U      │     I      │ mor ACCENT O │ mor SYMB P │   lt_bspc NUMB 0   │
//    ├──────────────────┼────────────┼────────────┼─────────────────┼────────────┼──────────────┤          ╭─────────────────┼───────────────┼───────────┼──────────────┼────────────┼────────────┼──────────────┼────────────┼────────────────────┤
//    │ mt lsft(lctl) `  │ hml lctl A │ hml lgui S │   hml lalt D    │ hml lsft F │      G       │          │ lctl(lsft(tab)) │ lctl(lsft(O)) │ lctl(tab) │      H       │ hmr rsft J │ hmr lalt K │  hmr rgui L  │ hmr lctl ' │  hmr lsft(lctl) -  │
//    ├──────────────────┼────────────┼────────────┼─────────────────┼────────────┼──────────────┤   ╭──────┼─────────────────┼───────────────┼───────────┼──────────────┼────────────┼────────────┼──────────────┼────────────┼────────────────────┤
//    │ lt FN lgui(bspc) │     Z      │     X      │        C        │     V      │      B       │   │ mute │                 │ msc SCRL_down │           │      N       │     M      │     ,      │      .       │     /      │ lt_colon_semi FN 0 │
//    ╰──────────────────┴────────────┴────────────┼─────────────────┼────────────┼──────────────┤   ╰──────╯                 ╰───────────────╯           ├──────────────┼────────────┼────────────┼──────────────┴────────────┴────────────────────╯
//                                                 │ slt ACCENT bspc │   mo NAV   │ hml lctl ent │                                                        │ hmr lctl spc │ lt NAV ent │ hmr lgui + │
//                                                 ╰─────────────────┴────────────┴──────────────╯                                                        ╰──────────────┴────────────┴────────────╯
  &slt NUMB TAB         &mol SYMB Q    &kp W         &kp E              &kp R          &kp T                                                 &msc SCRL_UP                   &kp Y              &kp U           &kp I            &mor ACCENT O   &mor SYMB P      &lt_bspc NUMB 0
  &mt LS(LCTRL) GRAVE   &hml LCTRL A   &hml LGUI S   &hml LALT D        &hml LSHFT F   &kp G                               &kp LC(LS(TAB))   &kp LC(LS(O))    &kp LC(TAB)   &kp H              &hmr RSHFT J    &hmr LALT K      &hmr RGUI L     &hmr LCTRL SQT   &hmr LS(LCTRL) MINUS
  &lt FN LG(BSPC)       &kp Z          &kp X         &kp C              &kp V          &kp B                  &kp C_MUTE                     &msc SCRL_DOWN                 &kp N              &kp M           &kp COMMA        &kp DOT         &kp FSLH         &lt_colon_semi FN 0
                                                     &slt ACCENT BSPC   &mo NAV        &hml LCTRL ENTER                                                                     &hmr LCTRL SPACE   &lt NAV ENTER   &hmr LGUI PLUS
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
//    ╭────┬─────────┬─────────┬─────────┬─────────┬─────────╮                 ╭──────╮      ╭──────┬──────┬────┬──────┬──────┬──────╮
//    │    │    1    │    2    │    3    │    4    │    5    │                 │ 🖱️ ↑ │      │  6   │  7   │ 8  │  9   │  0   │ del  │
//    ├────┼─────────┼─────────┼─────────┼─────────┼─────────┤          ╭──────┼──────┼──────┼──────┼──────┼────┼──────┼──────┼──────┤
//    │    │ lgui(1) │ lgui(2) │ lgui(3) │ lgui(4) │ lgui(5) │          │ 🖱️ ← │ lclk │ 🖱️ → │ left │ down │ up │ rght │ home │ pgup │
//    ├────┼─────────┼─────────┼─────────┼─────────┼─────────┤   ╭──────┼──────┼──────┼──────┼──────┼──────┼────┼──────┼──────┼──────┤
//    │    │ lalt(1) │ lalt(2) │ lalt(3) │ lalt(4) │ lalt(5) │   │ mute │      │ 🖱️ ↓ │      │      │      │    │      │ end  │ pgdn │
//    ╰────┴─────────┴─────────┼─────────┼─────────┼─────────┤   ╰──────╯      ╰──────╯      ├──────┼──────┼────┼──────┴──────┴──────╯
//                             │         │         │         │                               │ spc  │      │    │
//                             ╰─────────┴─────────┴─────────╯                               ╰──────┴──────┴────╯
  &trans   &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                                         &mmv MOVE_UP                       &kp N6      &kp N7     &kp N8   &kp N9      &kp N0     &kp DEL
  &trans   &kp LG(N1)   &kp LG(N2)   &kp LG(N3)   &kp LG(N4)   &kp LG(N5)                    &mmv MOVE_LEFT   &mkp LCLK        &mmv MOVE_RIGHT   &kp LEFT    &kp DOWN   &kp UP   &kp RIGHT   &kp HOME   &kp PG_UP
  &trans   &kp LA(N1)   &kp LA(N2)   &kp LA(N3)   &kp LA(N4)   &kp LA(N5)       &kp C_MUTE                    &mmv MOVE_DOWN                     &trans      &trans     &trans   &trans      &kp END    &kp PG_DN
                                     &trans       &trans       &trans                                                                            &kp SPACE   &trans     &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
//    ╭────┬───┬───┬────┬────────────┬──────────────╮                  ╭─────────────────╮         ╭─────────────┬───────┬────┬────┬───┬───╮
//    │    │ ! │ @ │ {  │     }      │      |       │                  │    lalt(tab)    │         │      =      │   +   │    │    │ * │ : │
//    ├────┼───┼───┼────┼────────────┼──────────────┤        ╭─────────┼─────────────────┼─────────┼─────────────┼───────┼────┼────┼───┼───┤
//    │    │ # │ $ │ (  │     )      │      +       │        │ lgui([) │      lclk       │ lgui(]) │      _      │   -   │    │    │ " │ ; │
//    ├────┼───┼───┼────┼────────────┼──────────────┤   ╭────┼─────────┼─────────────────┼─────────┼─────────────┼───────┼────┼────┼───┼───┤
//    │    │ % │ ^ │ [  │     ]      │      -       │   │    │         │ lalt(lsft(tab)) │         │             │       │    │    │ \ │ / │
//    ╰────┴───┴───┼────┼────────────┼──────────────┤   ╰────╯         ╰─────────────────╯         ├─────────────┼───────┼────┼────┴───┴───╯
//                 │    │ WORK_EMAIL │ DEBUG_PASTE2 │                                              │ DEBUG_PASTE │ EMAIL │    │
//                 ╰────┴────────────┴──────────────╯                                              ╰─────────────┴───────┴────╯
  &trans   &kp EXCL    &kp AT       &kp LBRC   &kp RBRC      &kp PIPE                                    &kp LA(TAB)                      &kp EQUAL      &kp PLUS    &trans   &trans   &kp ASTRK   &kp COLON
  &trans   &kp HASH    &kp DOLLAR   &kp LPAR   &kp RPAR      &kp PLUS                     &kp LG(LBKT)   &mkp LCLK         &kp LG(RBKT)   &kp UNDER      &kp MINUS   &trans   &trans   &kp DQT     &kp SEMI
  &trans   &kp PRCNT   &kp CARET    &kp LBKT   &kp RBKT      &kp MINUS           &trans                  &kp LA(LS(TAB))                  &kp AMPS       &trans      &trans   &trans   &kp BSLH    &kp SLASH
                                    &trans     &WORK_EMAIL   &DEBUG_PASTE2                                                                &DEBUG_PASTE   &EMAIL      &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        nav {
            display-name = "NAV";
            bindings = <
//    ╭────┬─────────┬─────────┬─────────┬─────────────────┬───────────╮                 ╭──────╮      ╭─────────────────┬────────────┬──────────────────┬──────────────────┬─────────┬──────╮
//    │    │ lgui(1) │ lgui(2) │ lgui(3) │     lgui(4)     │  lgui(5)  │                 │ 🖱️ ↑ │      │     lgui(6)     │  lgui(7)   │     lgui(8)      │     lgui(9)      │ lgui(0) │      │
//    ├────┼─────────┼─────────┼─────────┼─────────────────┼───────────┤          ╭──────┼──────┼──────┼─────────────────┼────────────┼──────────────────┼──────────────────┼─────────┼──────┤
//    │    │ lalt(1) │ lalt(2) │ lalt(3) │     lalt(4)     │  lalt(5)  │          │ 🖱️ ← │ lclk │ 🖱️ → │      left       │    down    │        up        │       rght       │  home   │ pgup │
//    ├────┼─────────┼─────────┼─────────┼─────────────────┼───────────┤   ╭──────┼──────┼──────┼──────┼─────────────────┼────────────┼──────────────────┼──────────────────┼─────────┼──────┤
//    │    │         │         │         │ lctl(lsft(tab)) │ lctl(tab) │   │ mute │      │ 🖱️ ↓ │      │ lctl(lsft(tab)) │ lctl(tab)  │ lctl(lsft(left)) │ lctl(lsft(rght)) │   end   │ pgdn │
//    ╰────┴─────────┴─────────┼─────────┼─────────────────┼───────────┤   ╰──────╯      ╰──────╯      ├─────────────────┼────────────┼──────────────────┼──────────────────┴─────────┴──────╯
//                             │         │      home       │    end    │                               │                 │ lctl(left) │    lctl(rght)    │
//                             ╰─────────┴─────────────────┴───────────╯                               ╰─────────────────┴────────────┴──────────────────╯
  &trans   &kp LG(N1)   &kp LG(N2)   &kp LG(N3)   &kp LG(N4)        &kp LG(N5)                                      &mmv MOVE_UP                       &kp LG(N6)        &kp LG(N7)     &kp LG(N8)         &kp LG(N9)          &kp LG(N0)   &trans
  &trans   &kp LA(N1)   &kp LA(N2)   &kp LA(N3)   &kp LA(N4)        &kp LA(N5)                     &mmv MOVE_LEFT   &mkp LCLK        &mmv MOVE_RIGHT   &kp LEFT          &kp DOWN       &kp UP             &kp RIGHT           &kp HOME     &kp PG_UP
  &trans   &trans       &trans       &trans       &kp LC(LS(TAB))   &kp LC(TAB)       &kp C_MUTE                    &mmv MOVE_DOWN                     &kp LC(LS(TAB))   &kp LC(TAB)    &kp LC(LS(LEFT))   &kp LC(LS(RIGHT))   &kp END      &kp PG_DN
                                     &trans       &kp HOME          &kp END                                                                            &trans            &kp LC(LEFT)   &kp LC(RIGHT)
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        accent {
            display-name = "ACCENT";
            bindings = <
//    ╭────┬────┬───┬────┬────┬────╮                  ╭─────────────────╮         ╭────┬────┬────┬────┬────┬────╮
//    │    │ ê  │ è │ é  │ ë  │    │                  │    lalt(tab)    │         │    │ û  │ ù  │ î  │ ô  │    │
//    ├────┼────┼───┼────┼────┼────┤        ╭─────────┼─────────────────┼─────────┼────┼────┼────┼────┼────┼────┤
//    │    │ à  │ â │    │    │    │        │ lgui([) │      lclk       │ lgui(]) │    │    │    │    │ œ  │    │
//    ├────┼────┼───┼────┼────┼────┤   ╭────┼─────────┼─────────────────┼─────────┼────┼────┼────┼────┼────┼────┤
//    │    │    │ € │ ç  │    │    │   │    │         │ lalt(lsft(tab)) │         │    │    │    │    │    │    │
//    ╰────┴────┴───┼────┼────┼────┤   ╰────╯         ╰─────────────────╯         ├────┼────┼────┼────┴────┴────╯
//                  │    │    │    │                                              │    │    │    │
//                  ╰────┴────┴────╯                                              ╰────┴────┴────╯
  &trans   &FR_E_CIRONFL   &FR_E_GRAVE     &FR_E_AIGU      &FR_E_TREMA   &trans                               &kp LA(TAB)                      &trans   &FR_U_CIRONFL   &FR_U_GRAVE   &FR_I_CIRONFL   &FR_O_CIRONFL     &trans
  &trans   &FR_A_GRAVE     &FR_A_CIRONFL   &trans          &trans        &trans                &kp LG(LBKT)   &mkp LCLK         &kp LG(RBKT)   &trans   &trans          &trans        &trans          &FR_OE_LIGATURE   &trans
  &trans   &trans          &FR_3_EURO      &FR_C_CEDILLE   &trans        &trans       &trans                  &kp LA(LS(TAB))                  &trans   &trans          &trans        &trans          &trans            &trans
                                           &trans          &trans        &trans                                                                &trans   &trans          &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };


        fn {
            display-name = "FN";
            bindings = <
//    ╭────────────┬────────────┬──────────┬──────────┬──────────┬──────────╮                 ╭──────╮      ╭────┬────┬────┬────┬────────────┬──────╮
//    │ to COLEMAK │     f1     │    f2    │    f3    │    f4    │    f5    │                 │ 🖱️ ↑ │      │ f6 │ f7 │ f8 │ f9 │    f10     │ f11  │
//    ├────────────┼────────────┼──────────┼──────────┼──────────┼──────────┤          ╭──────┼──────┼──────┼────┼────┼────┼────┼────────────┼──────┤
//    │            │ bt_clr_ALL │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │          │ 🖱️ ← │ lclk │ 🖱️ → │    │    │    │    │            │ f12  │
//    ├────────────┼────────────┼──────────┼──────────┼──────────┼──────────┤   ╭──────┼──────┼──────┼──────┼────┼────┼────┼────┼────────────┼──────┤
//    │            │  ug_ off   │  ug_ on  │          │          │          │   │ mute │      │ 🖱️ ↓ │      │    │    │    │    │ lsft(pscr) │ pscr │
//    ╰────────────┴────────────┴──────────┼──────────┼──────────┼──────────┤   ╰──────╯      ╰──────╯      ├────┼────┼────┼────┴────────────┴──────╯
//                                         │          │    🔄    │    💾    │                               │ 💾 │ 🔄 │    │
//                                         ╰──────────┴──────────┴──────────╯                               ╰────┴────┴────╯
  &to COLEMAK   &kp F1            &kp F2           &kp F3         &kp F4         &kp F5                                           &mmv MOVE_UP                       &kp F6        &kp F7       &kp F8   &kp F9   &kp F10               &kp F11
  &trans        &bt BT_CLR_ALL    &bt BT_SEL 0     &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3                    &mmv MOVE_LEFT   &mkp LCLK        &mmv MOVE_RIGHT   &trans        &trans       &trans   &trans   &trans                &kp F12
  &trans        &rgb_ug RGB_OFF   &rgb_ug RGB_ON   &trans         &trans         &trans             &kp C_MUTE                    &mmv MOVE_DOWN                     &trans        &trans       &trans   &trans   &kp LS(PRINTSCREEN)   &kp PRINTSCREEN
                                                   &trans         &sys_reset     &bootloader                                                                         &bootloader   &sys_reset   &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        colemak_layer {
            display-name = "COLEMAK";
            bindings = <
//    ╭────┬────┬────────────┬────────────┬──────────────┬────╮             ╭────╮    ╭────┬────────────┬────────────┬────────────┬────┬────╮
//    │    │    │            │     F      │      P       │ B  │             │    │    │ J  │     L      │     U      │     Y      │    │    │
//    ├────┼────┼────────────┼────────────┼──────────────┼────┤        ╭────┼────┼────┼────┼────────────┼────────────┼────────────┼────┼────┤
//    │    │    │ hmr lgui R │ hmr lalt S │ hmr lsftFT T │ G  │        │    │    │    │ M  │ hmr rsft N │ hmr lalt E │ hmr rgui I │ O  │    │
//    ├────┼────┼────────────┼────────────┼──────────────┼────┤   ╭────┼────┼────┼────┼────┼────────────┼────────────┼────────────┼────┼────┤
//    │    │    │            │            │      D       │ V  │   │    │    │    │    │ K  │     H      │            │            │    │    │
//    ╰────┴────┴────────────┼────────────┼──────────────┼────┤   ╰────╯    ╰────╯    ├────┼────────────┼────────────┼────────────┴────┴────╯
//                           │            │   to MAIN    │    │                       │    │            │            │
//                           ╰────────────┴──────────────┴────╯                       ╰────┴────────────┴────────────╯
  &trans   &trans   &trans        &kp F         &kp P         &kp B                          &trans            &kp J    &kp L          &kp U         &kp Y         &trans   &trans
  &trans   &trans   &hmr LGUI R   &hmr LALT S   &hmr LSFT T   &kp G                 &trans   &trans   &trans   &kp M    &hmr RSHFT N   &hmr LALT E   &hmr RGUI I   &kp O    &trans
  &trans   &trans   &trans        &trans        &kp D         &kp V        &trans            &trans            &kp K    &kp H          &trans        &trans        &trans   &trans
                                  &trans        &to MAIN      &trans                                           &trans   &trans         &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
