/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/keys.h>

#include "includes/local.h"
#include "includes/4x12.h"

/* Uncomment this block if using an encoder */
//&encoder {
//    status = "okay";
//};

//#define HYPR LS(LC(LA(LGUI)))
#define QUICK_TAP_MS 175
#define IDLE_MS 150
#define TAPPING_TERM_MS 200
#define SYMB 1
#define NUMB 2
#define NAV 3
#define ACCENT 4

/ {
    behaviors {
        #include "includes/behaviors.h"
        #include "includes/fr.h"
    };

    combos {
        #include "includes/combos.h"
    };

    macros {
        #include "includes/macros.h"
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // 0
            bindings = <
//    ┌───────────────────┬────────────┬─────────────┬─────────────┬──────────────┬─────┬──────────────┬─────────────┬───────────────┬─────────────┬─────────────────┬───────────────┐
//    │ mt lsft(lctl) tab │ mol SYMB Q │  mol NAV W  │      E      │      R       │  T  │      Y       │      U      │       I       │  mor NAV O  │   mor SYMB P    │ slt NUMB bspc │
//    ├───────────────────┼────────────┼─────────────┼─────────────┼──────────────┼─────┼──────────────┼─────────────┼───────────────┼─────────────┼─────────────────┼───────────────┤
//    │     mt lctl `     │     A      │ &hml lgui S │ &hml lalt D │ &hml lsft F  │  G  │      H       │ &hmr rsft J │  &hmr lalt K  │ &hmr rgui L │        '        │   mt lctl -   │
//    ├───────────────────┼────────────┼─────────────┼─────────────┼──────────────┼─────┼──────────────┼─────────────┼───────────────┼─────────────┼─────────────────┼───────────────┤
//    │     &sk lsft      │     Z      │      X      │      C      │      V       │  B  │      N       │      M      │       ,       │      .      │ mt lsft(lctl) / │ slt ACCENT :  │
//    ├───────────────────┼────────────┼─────────────┼─────────────┼──────────────┼─────┼──────────────┼─────────────┼───────────────┼─────────────┼─────────────────┼───────────────┤
//    │  lctl(lsft(tab))  │ lctl(tab)  │    ralt     │   sl NUMB   │ mol NAV bspc │     │ slt SYMB spc │ mor NAV ent │ mor NUMB left │    down     │       up        │     rght      │
//    └───────────────────┴────────────┴─────────────┴─────────────┴──────────────┴─────┴──────────────┴─────────────┴───────────────┴─────────────┴─────────────────┴───────────────┘
  &mt LS(LCTRL) TAB   &mol SYMB Q   &mol NAV W    &kp E         &kp R           &kp T    &kp Y             &kp U            &kp I            &mor NAV O    &mor SYMB P           &slt NUMB BSPC
  &mt LCTRL GRAVE     &kp A         &hml LGUI S   &hml LALT D   &hml LSHFT F    &kp G    &kp H             &hmr RSHFT J     &hmr LALT K      &hmr RGUI L   &kp SQT               &mt LCTRL MINUS
  &sk LSHFT           &kp Z         &kp X         &kp C         &kp V           &kp B    &kp N             &kp M            &kp COMMA        &kp DOT       &mt LS(LCTRL) SLASH   &slt ACCENT COLON
  &kp LC(LS(TAB))     &kp LC(TAB)   &kp RALT      &sl NUMB      &mol NAV BSPC   &trans   &slt SYMB SPACE   &mor NAV ENTER   &mor NUMB LEFT   &kp DOWN      &kp UP                &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower { // 1
            bindings = <
//    ┌─────────┬────────────────┬─────┬─────┬─────┬─────┬─────┬───┬───┬───┬───┬──────┐
//    │ lsft(`) │       !        │  @  │  {  │  }  │  |  │  =  │ 7 │ 8 │ 9 │ * │  :   │
//    ├─────────┼────────────────┼─────┼─────┼─────┼─────┼─────┼───┼───┼───┼───┼──────┤
//    │   del   │       #        │  $  │  (  │  )  │  +  │  _  │ 4 │ 5 │ 6 │ " │  ;   │
//    ├─────────┼────────────────┼─────┼─────┼─────┼─────┼─────┼───┼───┼───┼───┼──────┤
//    │         │       %        │  ^  │  [  │  ]  │  -  │  &  │ 1 │ 2 │ 3 │ \ │  /   │
//    ├─────────┼────────────────┼─────┼─────┼─────┼─────┼─────┼───┼───┼───┼───┼──────┤
//    │ bl_ on  │ &studio_unlock │     │     │ del │     │     │ . │ 0 │ , │ = │ play │
//    └─────────┴────────────────┴─────┴─────┴─────┴─────┴─────┴───┴───┴───┴───┴──────┘
  &kp LS(GRAVE)   &kp EXCL         &kp AT       &kp LBRC   &kp RBRC   &kp PIPE    &kp EQUAL   &kp N7    &kp N8   &kp N9      &kp ASTRK   &kp COLON
  &kp DEL         &kp HASH         &kp DOLLAR   &kp LPAR   &kp RPAR   &kp PLUS    &kp UNDER   &kp N4    &kp N5   &kp N6      &kp DQT     &kp SEMI
  &trans          &kp PRCNT        &kp CARET    &kp LBKT   &kp RBKT   &kp MINUS   &kp AMPS    &kp N1    &kp N2   &kp N3      &kp BSLH    &kp SLASH
  &bl BL_ON       &studio_unlock   &trans       &trans     &kp DEL    &trans      &trans      &kp DOT   &kp N0   &kp COMMA   &kp EQUAL   &kp C_PP
            >;
        };

        raise { // 2
            bindings = <
//    ┌───────────────┬─────────────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬────────┬──────────────┐
//    │    lsft(`)    │      1      │  2  │  3  │  4  │  5  │  6  │  7  │  8  │  9  │   0    │     del      │
//    ├───────────────┼─────────────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼────────┼──────────────┤
//    │      del      │     f1      │ f2  │ f3  │ f4  │ f5  │ f6  │ f7  │ f8  │ f9  │  f10   │     f11      │
//    ├───────────────┼─────────────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼────────┼──────────────┤
//    │               │             │     │     │     │     │     │     │     │     │        │     f12      │
//    ├───────────────┼─────────────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼────────┼──────────────┤
//    │ &DEBUG_PASTE2 │ &WORK_EMAIL │     │     │     │     │     │     │     │     │ &EMAIL │ &DEBUG_PASTE │
//    └───────────────┴─────────────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴────────┴──────────────┘
  &kp LS(GRAVE)   &kp N1        &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0    &kp DEL
  &kp DEL         &kp F1        &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &kp F11
  &trans          &trans        &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &kp F12
  &DEBUG_PASTE2   &WORK_EMAIL   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &EMAIL    &DEBUG_PASTE
            >;
        };
        other { // 3
            bindings = <
//    ┌─────────┬────────────┬────────────┬──────────────────┬──────────────────┬─────────┬─────────┬─────────┬─────────┬─────────┬─────────┬────────────┐
//    │         │  lgui(1)   │  lgui(2)   │     lgui(3)      │     lgui(4)      │ lgui(5) │ lgui(6) │ lgui(7) │ lgui(8) │ lgui(9) │ lgui(0) │    pgup    │
//    ├─────────┼────────────┼────────────┼──────────────────┼──────────────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼────────────┤
//    │         │ lctl(left) │ lctl(rght) │ lctl(lsft(left)) │ lctl(lsft(rght)) │         │  left   │  down   │   up    │  rght   │  home   │    pgdn    │
//    ├─────────┼────────────┼────────────┼──────────────────┼──────────────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼────────────┤
//    │ lalt(0) │  lalt(1)   │  lalt(2)   │     lalt(3)      │     lalt(4)      │ lalt(5) │ lalt(6) │ lalt(7) │ lalt(8) │ lalt(9) │   end   │ lctl(pgup) │
//    ├─────────┼────────────┼────────────┼──────────────────┼──────────────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼────────────┤
//    │         │            │            │                  │                  │         │         │         │         │         │         │ lctl(pgdn) │
//    └─────────┴────────────┴────────────┴──────────────────┴──────────────────┴─────────┴─────────┴─────────┴─────────┴─────────┴─────────┴────────────┘
  &trans       &kp LG(N1)     &kp LG(N2)      &kp LG(N3)         &kp LG(N4)          &kp LG(N5)   &kp LG(N6)   &kp LG(N7)   &kp LG(N8)   &kp LG(N9)   &kp LG(N0)   &kp PG_UP
  &trans       &kp LC(LEFT)   &kp LC(RIGHT)   &kp LC(LS(LEFT))   &kp LC(LS(RIGHT))   &trans       &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &kp HOME     &kp PG_DN
  &kp LA(N0)   &kp LA(N1)     &kp LA(N2)      &kp LA(N3)         &kp LA(N4)          &kp LA(N5)   &kp LA(N6)   &kp LA(N7)   &kp LA(N8)   &kp LA(N9)   &kp END      &kp LC(PG_UP)
  &trans       &trans         &trans          &trans             &trans              &trans       &trans       &trans       &trans       &trans       &trans       &kp LC(PG_DN)
            >;
        };

        accents { // 4
            bindings = <
//    ┌─────┬───────────────┬───────────────┬───────────────┬─────────────┬─────┬─────┬───────────────┬─────────┬───────────────┬───────────────┬─────┐
//    │     │ &FR_E_CIRONFL │    &FR_E_`    │  &FR_E_AIGU   │ &FR_E_TREMA │     │     │ &FR_U_CIRONFL │ &FR_U_` │ &FR_I_CIRONFL │ &FR_O_CIRONFL │     │
//    ├─────┼───────────────┼───────────────┼───────────────┼─────────────┼─────┼─────┼───────────────┼─────────┼───────────────┼───────────────┼─────┤
//    │     │    &FR_A_`    │ &FR_A_CIRONFL │               │             │     │     │               │         │               │               │     │
//    ├─────┼───────────────┼───────────────┼───────────────┼─────────────┼─────┼─────┼───────────────┼─────────┼───────────────┼───────────────┼─────┤
//    │     │               │  &FR_3_EURO   │ &FR_C_CEDILLE │             │     │     │               │         │               │               │     │
//    ├─────┼───────────────┼───────────────┼───────────────┼─────────────┼─────┼─────┼───────────────┼─────────┼───────────────┼───────────────┼─────┤
//    │     │               │               │               │             │     │     │               │         │               │               │     │
//    └─────┴───────────────┴───────────────┴───────────────┴─────────────┴─────┴─────┴───────────────┴─────────┴───────────────┴───────────────┴─────┘
  &trans   &FR_E_CIRONFL   &FR_E_GRAVE     &FR_E_AIGU      &FR_E_TREMA   &trans   &trans   &FR_U_CIRONFL   &FR_U_GRAVE   &FR_I_CIRONFL   &FR_O_CIRONFL   &trans
  &trans   &FR_A_GRAVE     &FR_A_CIRONFL   &trans          &trans        &trans   &trans   &trans          &trans        &trans          &trans          &trans
  &trans   &trans          &FR_3_EURO      &FR_C_CEDILLE   &trans        &trans   &trans   &trans          &trans        &trans          &trans          &trans
  &trans   &trans          &trans          &trans          &trans        &trans   &trans   &trans          &trans        &trans          &trans          &trans
            >;
      };

    };
};
